@import url("../../index.css");

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.input-wrapper label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--color-text);
}

.custom-input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-medium);
  outline: none;
  font-size: 16px;
  background-color: var(--color-white);
  transition: border-color 0.2s;
}

.custom-input:focus {
  border-color: var(--color-blue);
  box-shadow: 0 0 0 2px rgba(0, 53, 84, 0.1);
}