:root {
  --color-blue: #003554;
  --color-green: #4CAF50;
  --color-white: #FFFFFF;
  --color-gray-light: #F0F0F0;
  --color-gray-medium: #A9A9A9;
  --color-text: #333333;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-gray-light);
  color: var(--color-text);
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
}